<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
<head>  
    <meta charset="UTF-8">  
    <title>Edit User</title>  
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
    <link th:href="@{/style.css}" rel="stylesheet" /> 
</head>  
<body>  
	<h1>Thêm Chứng Chỉ</h1>
<form th:action="@{/certificate/save}" th:object="${certificateDTO}" method="post">
    <label for="name">Tên Chứng Chỉ</label>
    <p th:text="${mesageCertificate}" style="color: red;"></p>
    <input type="text" th:field="*{name}" name="name" id="name" placeholder="Name">
    <span th:text="${mesageCertificate}" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
   	<button type="submit" class="btn btn-primary btn-block mt-3">Save</button>  
</form>
<script type="text/javascript" th:src="@{../test.js}"></script>
</body>  
</html>