<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
<head>  
    <meta charset="UTF-8">  
    <title>Edit User</title>  
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
    <link th:href="@{/style.css}" rel="stylesheet" /> 
</head>  
<body>  
	<h1>Thay Đổi Thông Tin Cá Nhân</h1>
<form th:action="@{/save}" th:object="${register}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" name="name" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <label for="address">Dia Chi</label>
    <input type="text" th:field="*{address}" name="address" id="address" placeholder="Dia Chi">
    <span  th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" name="email" id="email" placeholder="Email">
    <span  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
   	<button type="submit" class="btn btn-primary btn-block mt-3">Save</button>  
</form>
<script type="text/javascript" th:src="@{/test.js}"></script>
</body>  
</html>