<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
<head>  
    <meta charset="UTF-8">  
    <title>Edit User</title>  
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
    <link th:href="@{/style.css}" rel="stylesheet" /> 
</head>  
<body>  
<form th:object="${certificateDTO}" th:action="@{'/certificate/updatecertificate/' + ${certificateDTO.id}}"  method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" name="name" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
   	<button type="submit" class="btn btn-primary btn-block mt-3">Save</button>  
</form>
<script type="text/javascript" th:src="@{/test.js}"></script>
</body>  
</html>